@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: theme('spacing.2');
  padding-right: theme('spacing.2');
}
